/* Counter0 */
.counter {
  display: flex;
  align-items: center;
  margin: 2% 40%;
  justify-content: center;
  border: 2px solid black;
  background-color: blanchedalmond;
}
.counter button {
  padding: 10px;
  background-color: coral;
  margin: 8%;
}
h2 {
  text-align: center;
}
.inputStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
